*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Roboto', sans-serif;
}

body{
  background:#f1f3f6;
}
header button{
  background-color: #2874f0;
  border: none;
}
header i{
  color: white;
}

.navbar{
  background:#2874f0;
  color:white;
  padding:10px 15px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  position: sticky;
  top: 0;
}

.logo{
  font-size:20px;
  font-weight:700;
}

.search{
  padding:6px;
  width:300px;
  border:none;
}

.nav-links{
  display:flex;
  gap:15px;
  align-items:center;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-weight:500;
}

.hamburger{
  display:none;
  font-size:24px;
  cursor:pointer;
}

#menu-toggle{
  display:none;
}

.category-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 15px 10px;
}

.category{
    text-align: center;
    cursor: pointer;
}

.category img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.category p{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
}

.category:hover p{
    color: #2874f0;
}

.logo-img{
  height:35px;
}


.banner{
 width: 100%;
  margin:15px;
  background:#ddd;
}

.banner img{
  max-width: 100%;
  height: auto;
  display: block;
}

.products{
  background:white;
  margin:15px;
  padding:15px;
}

.item1{
  background-color: #81fcd3;
}

.item2{
  background-color: #76d8fc;
}
.product-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}

.product{
  background:#fafafa;
  padding:20px;
  text-align:center;
}

.product img{
  width:120px;
  height:120px;
  object-fit:contain;
  margin-bottom:10px;
}


.product span{
  color:green;
}

.center-page{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-page{
  background:#f1f3f6;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-wrapper{
  display:flex;
  width:650px;
  background:#fff;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.login-left{
  width:40%;
  background:#2874f0;
  color:#fff;
  padding:30px;
}

.login-left h2{
  margin-bottom:10px;
}

.login-left p{
  font-size:14px;
  line-height:1.4;
}

.login-right{
  width:60%;
  padding:30px;
}

.login-right input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border:1px solid #ccc;
  outline:none;
}

.login-right button{
  width:100%;
  padding:10px;
  background:#2874f0;
  color:#fff;
  border:none;
  font-weight:500;
  cursor:pointer;
}

.login-right button:hover{
  background:#1f5fd1;
}

.terms{
  font-size:12px;
  color:#555;
  margin-top:10px;
}

.terms span{
  color:#2874f0;
}

.new-user{
  margin-top:20px;
  font-size:14px;
  text-align:center;
}

.new-user span{
  color:#2874f0;
  font-weight:500;
  cursor:pointer;
}

.cart-login{
  display:inline-block;
  margin-top:10px;
  padding:8px 15px;
  background:#2874f0;
  color:white;
  text-decoration:none;
}

.small{
  font-size:12px;
  margin-top:10px;
}
.about{
  background:white;
  margin:15px;
  padding:20px;
  line-height:1.6;
  font-size:14px;
  color:#333;
}
.help-btn{
  color:white;
  background: transparent;
  align-self: center;
  border: none;
}
.help-btn i{
  color: rgb(164, 164, 0);
}

.footer{
  background:#172337;
  color:#fff;
  padding:30px 20px;
  margin-top:20px;
}

.footer-row{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

.footer-col h4{
  font-size:14px;
  margin-bottom:10px;
  color:#f1f1f1;
}

.footer-col p{
  font-size:12px;
  margin-bottom:6px;
  color:#ccc;
}

.footer-bottom{
  text-align:center;
  margin-top:20px;
  font-size:12px;
  color:#aaa;
}

@media(max-width:768px){
  .search{
    width:180px;
  }
  .product-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:600px){
  .hamburger{
    display:block;
  }
  .nav-links{
    position:absolute;
    top:55px;
    right:0;
    background:#2874f0;
    flex-direction:column;
    width:100%;
    display:none;
    padding:10px 0;
  }
  #menu-toggle:checked + .hamburger + .nav-links{
    display:flex;
  }
  .search{
    width:90%;
  }
  .product-grid{
    grid-template-columns:1fr;
  }
}
@media(max-width:768px){
    .category-bar{
        overflow-x: auto;
        justify-content: flex-start;
        gap: 20px;
    }

    .category{
        min-width: 90px;
    }
}


@media(max-width:768px){
  .footer-row{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:480px){
  .footer-row{
    grid-template-columns:1fr;
    text-align:center;
  }
}
@media(max-width:700px){
  .login-wrapper{
    flex-direction:column;
    width:90%;
  }
  .login-left, .login-right{
    width:100%;
    text-align:center;
  }
}

